%h1 Connected Clients

.clients
  %table
    %thead
      %tr
        %td Name
        %td ID
        %td Last Seen
        %td
    %tbody
      - clients.each do |id, info|
        %tr
          %td= info[:name]
          %td= id
          %td= info[:seen].to_s
          %td
            %form{action: "/#{id}/open", method: "POST"}
              %input{type: "submit", value: "Open"}
