[Unit]
Description=Garager
After=network-online.target

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

User=carl
EnvironmentFile=/home/carl/projects/garager/config/production.env
WorkingDirectory=/home/carl/projects/garager
ExecStart=/home/carl/projects/garager/bin/client

Restart=always

[Install]
WantedBy=multi-user.target
