[Unit]
Description=Garager
After=network-online.target

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

User=pi
WorkingDirectory=/home/pi/projects/garager
ExecStart=/usr/local/bin/chruby-exec ruby-2.7.1 -- GARAGER_ENV=production bin/client

Restart=always

[Install]
WantedBy=multi-user.target
