[Unit]
Description=Garager
After=network-online.target

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

User=pi
EnvironmentFile=/home/pi/projects/garager/config/production.env
WorkingDirectory=/home/pi/projects/garager
ExecStart=/home/pi/projects/garager/bin/client

Restart=always

[Install]
WantedBy=multi-user.target
